/* Generate overwrite default font to Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif!important;
}
.navbar {
    /* background: rgba(0, 0, 0, 0.2) !important;   */
    background: linear-gradient(rgba(0, 0, 0, 1) 20%, rgb(0 0 0 / 0) ) !important;
    z-index: 2;
    backdrop-filter: blur(10px) saturate(125%);                    
    -webkit-backdrop-filter: blur(10px) saturate(125%);           
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
